# Create a search engine for retreiving these documents

In [3]:
import requests 
import numpy as np
import pandas as pd 
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

## Text Search

In [4]:
doc_samples = [
    "Course starts on 15th Jan 2024",
    "Prerequisites listed on GitHub",
    "Submit homeworks after start date",
    "Registration not required for participation",
    "Setup Google Cloud and Python before course"
]

In [5]:
cv = CountVectorizer(stop_words='english')
cv.fit(doc_samples)
# transform doc to matrix
mat = cv.transform(doc_samples)
names = cv.get_feature_names_out()
names, mat.toarray()

(array(['15th', '2024', 'cloud', 'course', 'date', 'github', 'google',
        'homeworks', 'jan', 'listed', 'participation', 'prerequisites',
        'python', 'registration', 'required', 'setup', 'start', 'starts',
        'submit'], dtype=object),
 array([[1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
        [0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
        [0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1],
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0],
        [0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0]]))

In [6]:
df_docs = pd.DataFrame(mat.toarray(), columns=names).T
df_docs

               0  1  2  3  4
15th           1  0  0  0  0
2024           1  0  0  0  0
cloud          0  0  0  0  1
course         1  0  0  0  1
date           0  0  1  0  0
github         0  1  0  0  0
google         0  0  0  0  1
homeworks      0  0  1  0  0
jan            1  0  0  0  0
listed         0  1  0  0  0
participation  0  0  0  1  0
prerequisites  0  1  0  0  0
python         0  0  0  0  1
registration   0  0  0  1  0
required       0  0  0  1  0
setup          0  0  0  0  1
start          0  0  1  0  0
starts         1  0  0  0  0
submit         0  0  1  0  0

In [7]:
cv = TfidfVectorizer(stop_words='english')
cv.fit(doc_samples)
# transform doc to matrix
mat = cv.transform(doc_samples)
names = cv.get_feature_names_out()

df_docs = pd.DataFrame(mat.toarray(), columns=names).T
df_docs.round(2)

                  0     1    2     3     4
15th           0.46  0.00  0.0  0.00  0.00
2024           0.46  0.00  0.0  0.00  0.00
cloud          0.00  0.00  0.0  0.00  0.46
course         0.37  0.00  0.0  0.00  0.37
date           0.00  0.00  0.5  0.00  0.00
github         0.00  0.58  0.0  0.00  0.00
google         0.00  0.00  0.0  0.00  0.46
homeworks      0.00  0.00  0.5  0.00  0.00
jan            0.46  0.00  0.0  0.00  0.00
listed         0.00  0.58  0.0  0.00  0.00
participation  0.00  0.00  0.0  0.58  0.00
prerequisites  0.00  0.58  0.0  0.00  0.00
python         0.00  0.00  0.0  0.00  0.46
registration   0.00  0.00  0.0  0.58  0.00
required       0.00  0.00  0.0  0.58  0.00
setup          0.00  0.00  0.0  0.00  0.46
start          0.00  0.00  0.5  0.00  0.00
starts         0.46  0.00  0.0  0.00  0.00
submit         0.00  0.00  0.5  0.00  0.00

In [8]:
names, mat.toarray().shape

(array(['15th', '2024', 'cloud', 'course', 'date', 'github', 'google',
        'homeworks', 'jan', 'listed', 'participation', 'prerequisites',
        'python', 'registration', 'required', 'setup', 'start', 'starts',
        'submit'], dtype=object),
 (5, 19))

In [9]:
query = "Is registration required"
q = cv.transform([query])
q.toarray().shape

(1, 19)

In [10]:
# check the similarity between all the document and the query
score = cosine_similarity(mat, q).flatten()
score

array([0.        , 0.        , 0.        , 0.81649658, 0.        ])

In [11]:
# it sorts and retuns the index of the top 
idx = np.argsort(-score)
idx

array([3, 0, 1, 2, 4])

In [12]:
doc_samples[3]

'Registration not required for participation'

### Apply the same logic to a larger document
### Using CountVectorizer()

In [13]:
docs_url = 'https://github.com/alexeygrigorev/llm-rag-workshop/raw/main/notebooks/documents.json'
docs_response = requests.get(docs_url)
documents_raw = docs_response.json()

documents = []

for course in documents_raw:
    course_name = course['course']

    for doc in course['documents']:
        doc['course'] = course_name
        documents.append(doc)

df = pd.DataFrame(documents, columns=['course', 'section', 'question', 'text'])
df.head()

,course,section,question,text
0,data-engineering-zoomcamp,General course-related questions,Course - When will the course start?,The purpose of this document is to capture fre...
1,data-engineering-zoomcamp,General course-related questions,Course - What are the prerequisites for this c...,GitHub - DataTalksClub data-engineering-zoomca...
2,data-engineering-zoomcamp,General course-related questions,Course - Can I still join the course after the...,"Yes, even if you don't register, you're still ..."
3,data-engineering-zoomcamp,General course-related questions,Course - I have registered for the Data Engine...,You don't need it. You're accepted. You can al...
4,data-engineering-zoomcamp,General course-related questions,Course - What can I do before the course starts?,You can start by installing and setting up all...

In [14]:

# min_df represents the minimum number of documents a word should appear in before it is added to the vocabulary
cv = CountVectorizer(stop_words='english', min_df=5)
X = cv.fit_transform(df["text"])

names = cv.get_feature_names_out()

df_docs = pd.DataFrame(X.toarray(), columns=names).T
df_docs

,0,1,2,3,4,5,6,7,8,9,...,938,939,940,941,942,943,944,945,946,947
01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yes,0,0,1,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
yml,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
youtube,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
zip,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zoomcamp,0,1,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### Using TFID TfidfVectorizer()

In [15]:

# min_df represents the minimum number of documents a word should appear in before it is added to the vocabulary
cv = TfidfVectorizer(stop_words='english', min_df=5)
X = cv.fit_transform(df["text"])

names = cv.get_feature_names_out()

df_docs = pd.DataFrame(X.toarray(), columns=names)
df_docs.round(2)

,01,02,03,04,05,06,09,10,100,11,...,y_val,yaml,year,yellow,yellow_tripdata_2021,yes,yml,youtube,zip,zoomcamp
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.43
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.28,0.00,0.0,0.0,0.00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.00,0.11,0.0,0.0,0.00
944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00
945,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.17,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00
946,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.00
947,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.15

### Query-Document Similarity

In [20]:
# query = "Do I need to know python to sign up for the January course?"
query = "I just discovered the course, is it too late to join?"

q = cv.transform([query])
q.toarray().shape, q.toarray()

((1, 1333), array([[0., 0., 0., ..., 0., 0., 0.]]))

In [24]:
# check the similarity between all the document and the query
score = cosine_similarity(X, q).flatten()
score

array([0.48049682, 0.        , 0.        , 0.2083882 , 0.        ,
       0.        , 0.        , 0.17557272, 0.        , 0.        ,
       0.        , 0.15870689, 0.        , 0.        , 0.        ,
       0.09680922, 0.        , 0.        , 0.07529201, 0.        ,
       0.        , 0.        , 0.29986763, 0.10520675, 0.        ,
       0.        , 0.        , 0.27447476, 0.12828407, 0.        ,
       0.        , 0.        , 0.        , 0.05163407, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03156309,
       0.04914818, 0.07138962, 0.        , 0.04329773, 0.        ,
       0.        , 0.        , 0.        , 0.02804374, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.06739038, 0.        , 0.00980845,
       0.        , 0.        , 0.        , 0.        , 0.05820102,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.05020173, 0.        , 0.        , 0.0605701 , 0.        ,
       0.        , 0.        , 0.        , 0.05101782, 0.        ,
       0.        , 0.04327901, 0.        , 0.03089898, 0.        ,
       0.        , 0.05106564, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.08232505, 0.        , 0.        , 0.        , 0.02129978,
       0.        , 0.0308046 , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.16499001, 0.        ,
       0.        , 0.        , 0.03561953, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.07733187, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.12621053, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01502752, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.05398514, 0.        , 0.05115414, 0.        , 0.        ,
       0.        , 0.        , 0.03869534, 0.04112908, 0.03728758,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.09064943, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.04233182,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07784175, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02591152, 0.        , 0.03451997, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.04143129, 0.        , 0.05407899, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.22471032, 0.04931254, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.03820044, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02533066, 0.04085302, 0.        , 0.        ,
       0.        , 0.        , 0.07593909, 0.0723982 , 0.        ,
       0.        , 0.        , 0.        , 0.01328652, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.10202387, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.038628  , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.12084703, 0.10694586, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.08997023, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.05839441, 0.        , 0.        , 0.        , 0.        ,
       0.12589674, 0.196371  , 0.        , 0.        , 0.06058604,
       0.35656584, 0.        , 0.        , 0.        , 0.        ,
       0.16267179, 0.        , 0.        , 0.30485152, 0.33773583,
       0.1231099 , 0.13606474, 0.26771296, 0.        , 0.10835741,
       0.13944604, 0.03865125, 0.18083089, 0.03179529, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.05501329,
       0.03482028, 0.        , 0.        , 0.        , 0.        ,
       0.06558528, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.03200722, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.05236864, 0.0581809 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.10647026, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03710508, 0.        , 0.        ,
       0.04720167, 0.        , 0.        , 0.04364401, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03714607, 0.        , 0.        ,
       0.        , 0.04808267, 0.        , 0.        , 0.        ,
       0.14400322, 0.        , 0.        , 0.03667548, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.06555259, 0.13437698, 0.        ,
       0.        , 0.        , 0.        , 0.05902352, 0.        ,
       0.        , 0.        , 0.        , 0.01885244, 0.03485812,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.05249485,
       0.        , 0.        , 0.        , 0.06591061, 0.        ,
       0.        , 0.05969678, 0.        , 0.        , 0.        ,
       0.0284637 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06244092,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02243907, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.15333692,
       0.        , 0.03506481, 0.18859024, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.03423508,
       0.        , 0.        , 0.01588394, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.04924389, 0.        , 0.        , 0.        ,
       0.05098356, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.03294308, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.03026252, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02958017, 0.        , 0.        , 0.        , 0.07023608,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.04109976, 0.        , 0.        , 0.        , 0.04644028,
       0.        , 0.        , 0.03833017, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0364746 , 0.08415092, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02442063,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.12810532, 0.05637395,
       0.04826177, 0.        , 0.04906345, 0.        , 0.26727441,
       0.        , 0.        , 0.        , 0.11135001, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06894246,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0685693 , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.04106944, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.06551955,
       0.        , 0.07186382, 0.        , 0.        , 0.        ,
       0.06333884, 0.        , 0.        , 0.        , 0.12685281,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.07782842, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02660461, 0.06140912, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.05395122, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02053581, 0.        , 0.        , 0.        ,
       0.        , 0.02983282, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.03416571, 0.03748537, 0.        , 0.05747492, 0.        ,
       0.        , 0.        , 0.        , 0.13556595, 0.        ,
       0.10025904, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03278609, 0.11688021, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03662924, 0.0451592 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        ])

In [25]:
np.argsort(score)

array([473, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613,
       614, 615, 616, 617, 618, 620, 621, 622, 624, 625, 627, 601, 628,
       600, 596, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580,
       581, 582, 583, 584, 585, 586, 589, 590, 591, 592, 594, 595, 597,
       569, 629, 632, 665, 666, 667, 668, 670, 671, 673, 674, 675, 676,
       677, 678, 679, 680, 682, 683, 684, 686, 687, 688, 689, 690, 691,
       664, 631, 663, 661, 633, 634, 635, 636, 637, 638, 640, 641, 642,
       643, 644, 645, 646, 647, 649, 650, 651, 652, 653, 655, 658, 659,
       660, 662, 692, 567, 564, 478, 479, 480, 481, 482, 483, 484, 486,
       487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499,
       500, 501, 477, 504, 476, 474, 433, 434, 437, 438, 441, 442, 443,
       444, 446, 447, 453, 459, 460, 461, 462, 463, 466, 467, 468, 469,
       471, 472, 946, 475, 566, 505, 507, 539, 540, 541, 542, 543, 544,
       545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 558,
       559, 560, 562, 563, 538, 506, 537, 535, 508, 509, 510, 512, 513,
       514, 515, 516, 517, 518, 519, 520, 521, 523, 524, 526, 527, 529,
       530, 531, 532, 533, 534, 536, 432, 694, 696, 855, 856, 859, 860,
       861, 862, 863, 864, 865, 866, 868, 869, 870, 871, 872, 873, 874,
       875, 876, 877, 878, 879, 880, 854, 881, 853, 851, 828, 829, 830,
       831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843,
       844, 845, 846, 847, 848, 849, 850, 852, 827, 882, 884, 919, 920,
       921, 924, 925, 926, 927, 928, 929, 930, 931, 934, 935, 936, 937,
       938, 939, 940, 941, 942, 943, 944, 945, 918, 883, 917, 914, 885,
       886, 887, 888, 889, 890, 892, 893, 894, 895, 897, 898, 899, 900,
       901, 902, 903, 904, 907, 909, 910, 911, 912, 916, 695, 825, 823,
       728, 730, 731, 733, 734, 735, 736, 737, 738, 739, 742, 743, 744,
       745, 746, 747, 748, 750, 751, 752, 753, 754, 755, 727, 756, 726,
       723, 697, 698, 699, 701, 702, 703, 704, 705, 706, 707, 708, 709,
       710, 711, 712, 713, 714, 716, 717, 718, 720, 721, 722, 724, 824,
       757, 763, 796, 797, 798, 799, 800, 801, 802, 803, 805, 807, 808,
       809, 811, 812, 813, 815, 816, 817, 818, 819, 820, 821, 822, 795,
       761, 794, 792, 765, 766, 767, 769, 770, 771, 772, 773, 775, 776,
       777, 778, 779, 781, 782, 783, 784, 785, 786, 788, 789, 790, 791,
       793, 431, 947, 429, 169, 170, 171, 175, 176, 177, 178, 179, 180,
       181, 168, 182, 184, 185, 186, 187, 188, 189, 190, 191, 192, 194,
       183, 166, 164, 163, 137, 138, 139, 140, 141, 143, 144, 145, 146,
       147, 149, 150, 151, 152, 153, 154, 155, 156, 157, 159, 160, 161,
       162, 195, 196, 197, 198, 229, 230, 231, 232, 233, 234, 235, 236,
       237, 238, 239, 240, 242, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 228, 136, 227, 224, 199, 200, 201, 202, 203, 204, 205,
       206, 207, 208, 210, 211, 212, 213, 214, 215, 216, 217, 218, 220,
       221, 222, 223, 225, 254, 135, 133,  38,  42,  44,  45,  46,  47,
        49,  50,  51,  52,  37,  53,  55,  56,  57,  58,  59,  60,  61,
        63,  65,  66,  54,  36,  35,  34,   1,   2,   4,   5,   6,   8,
         9,  10,  12,  13,  14,  16,  17,  19,  20,  21,  24,  25,  26,
        29,  30,  31,  32,  67,  68,  70,  71, 108, 109, 110, 111, 112,
       114, 115, 116, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127,
       128, 129, 130, 131, 132, 107, 134, 105, 102,  72,  73,  74,  76,
        77,  79,  80,  81,  82,  84,  85,  87,  89,  90,  92,  93,  94,
        95,  96,  97,  98,  99, 101, 103, 255, 219, 257, 354, 355, 356,
       357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369,
       370, 371, 372, 373, 374, 353, 375, 256, 350, 325, 326, 329, 330,
       331, 332, 334, 335, 336, 337, 338, 339, 340, 341, 343, 344, 345,
       346, 347, 348, 349, 351, 324, 376, 378, 407, 408, 409, 410, 412,
       413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425,
       426, 427, 428, 406, 377, 405, 403, 379, 380, 381, 382, 383, 384,
       385, 387, 388, 389, 390, 391, 392, 393, 394, 397, 398, 399, 400,
       401, 402, 404, 323, 352, 303, 296, 297, 298, 271, 299, 270, 269,
       272, 268, 302, 279, 304, 305, 306, 307, 308, 301, 309, 295, 293,
       278, 281, 282, 283, 284, 277, 285, 294, 286, 275, 274, 289, 290,
       291, 292, 273, 276, 310, 280, 266, 318, 317, 316, 263, 261, 315,
       314, 262, 260, 264, 320, 313, 259, 312, 258, 311, 319,  64, 333,
       158, 672, 598, 891, 104, 648, 749, 321, 241, 857,  48, 630, 715,
       896, 700, 106,  88,  39, 458, 485, 922, 693, 905, 669, 243, 465,
       599, 656, 117, 740, 932, 568, 522, 557, 174, 906, 300, 732, 386,
       456, 172, 322, 787, 725, 173, 265, 209,  86,  43, 528, 933, 729,
       525, 561, 760, 762,  40, 681, 288,  75, 685,  83,  91, 167,  33,
       502, 619, 867, 165, 267, 464, 759, 908, 503,  69, 430, 593, 626,
        78, 439, 858, 639, 810, 804, 587, 470, 623,  62, 780, 774, 719,
        41, 806, 328,  18, 327, 142, 826, 226, 100, 741, 411, 193,  15,
       915, 342,  23, 511, 396, 454, 768, 923, 395, 450, 435, 148, 814,
       758,  28, 588, 913, 451, 455, 565, 654,  11, 445, 113,   7, 457,
       657, 436,   3, 287, 764, 452,  27,  22, 448, 449, 440,   0])

In [26]:
# it sorts and retuns the index of the top 10 documnets 
idx = np.argsort(-score)[:10]
idx

array([  0, 440, 449, 448,  22,  27, 452, 764, 287,   3])

In [32]:
df['text'].iloc[449]

'Yes, you can. You won’t be able to submit some of the homeworks, but you can still take part in the course.\nIn order to get a certificate, you need to submit 2 out of 3 course projects and review 3 peers’ Projects by the deadline. It means that if you join the course at the end of November and manage to work on two projects, you will still be eligible for a certificate.'

### Vectorizing all the documents
Let's now do it for all the documents:

In [43]:
fields = ['section', 'question', 'text']
transformers = {}
matrices = {}

for field in fields:
    cv = TfidfVectorizer(stop_words='english', min_df=3)
    X = cv.fit_transform(df[field])

    transformers[field] = cv
    matrices[field] = X

transformers['text'].get_feature_names_out()
matrices['text']

<948x2118 sparse matrix of type '<class 'numpy.float64'>'
	with 26463 stored elements in Compressed Sparse Row format>

In [61]:
query = "I just discovered the course, is it too late to join?"
n =len(df)
score = np.zeros(n)

for f in fields:
    q = transformers[f].transform([query])
    X = matrices[f]
    
    f_score = cosine_similarity(X, q).flatten()
    score = score+f_score

In [62]:
# it sorts and retuns the index of the top 10 documnets 
idx = np.argsort(-score)[:10]
idx

array([  0,   1,  34,   4,   5,   9,   7, 449, 452, 448])

In [67]:
df.iloc[idx]

,course,section,question,text
0,data-engineering-zoomcamp,General course-related questions,Course - When will the course start?,The purpose of this document is to capture fre...
1,data-engineering-zoomcamp,General course-related questions,Course - What are the prerequisites for this c...,GitHub - DataTalksClub data-engineering-zoomca...
34,data-engineering-zoomcamp,General course-related questions,How can we contribute to the course?,Star the repo! Share it with friends if you fi...
4,data-engineering-zoomcamp,General course-related questions,Course - What can I do before the course starts?,You can start by installing and setting up all...
5,data-engineering-zoomcamp,General course-related questions,Course - how many Zoomcamps in a year?,"There are 3 Zoom Camps in a year, as of 2024. ..."
9,data-engineering-zoomcamp,General course-related questions,Course - Which playlist on YouTube should I re...,All the main videos are stored in the Main “DA...
7,data-engineering-zoomcamp,General course-related questions,Course - Can I follow the course after it fini...,"Yes, we will keep all the materials after the ..."
449,machine-learning-zoomcamp,General course-related questions,The course has already started. Can I still jo...,"Yes, you can. You won’t be able to submit some..."
452,machine-learning-zoomcamp,General course-related questions,I just joined. What should I do next? How can ...,Welcome to the course! Go to the course page (...
448,machine-learning-zoomcamp,General course-related questions,I’m new to Slack and can’t find the course cha...,Here’s how you join a in Slack: https://slack....

You will observe from the solution above its giving answers to different course. You filter the once relevant to the question.

### Search with all the fields & boosting + filtering

Here will filter and Let's also boost one of the fields - `question` - to give it more importance than to others

In [76]:
boost = {
    'question': 3.0
}

score = np.zeros(len(df))

for f in fields:
    b = boost.get(f, 1.0)
    q = transformers[f].transform([query])
    s = cosine_similarity(matrices[f], q).flatten()
    # score = score + b * s
    score = score + s

In [77]:
mask = (df.course == 'data-engineering-zoomcamp').values
score = score * mask

In [78]:
# it sorts and retuns the index of the top 10 documnets 
idx = np.argsort(-score)[:10]
idx

array([ 0,  1,  4,  5, 34,  9,  7,  2,  8, 10])

In [79]:
df.iloc[idx]

,course,section,question,text
0,data-engineering-zoomcamp,General course-related questions,Course - When will the course start?,The purpose of this document is to capture fre...
1,data-engineering-zoomcamp,General course-related questions,Course - What are the prerequisites for this c...,GitHub - DataTalksClub data-engineering-zoomca...
4,data-engineering-zoomcamp,General course-related questions,Course - What can I do before the course starts?,You can start by installing and setting up all...
5,data-engineering-zoomcamp,General course-related questions,Course - how many Zoomcamps in a year?,"There are 3 Zoom Camps in a year, as of 2024. ..."
34,data-engineering-zoomcamp,General course-related questions,How can we contribute to the course?,Star the repo! Share it with friends if you fi...
9,data-engineering-zoomcamp,General course-related questions,Course - Which playlist on YouTube should I re...,All the main videos are stored in the Main “DA...
7,data-engineering-zoomcamp,General course-related questions,Course - Can I follow the course after it fini...,"Yes, we will keep all the materials after the ..."
2,data-engineering-zoomcamp,General course-related questions,Course - Can I still join the course after the...,"Yes, even if you don't register, you're still ..."
8,data-engineering-zoomcamp,General course-related questions,Course - Can I get support if I take the cours...,"Yes, the slack channel remains open and you ca..."
10,data-engineering-zoomcamp,General course-related questions,Course - ​​How many hours per week am I expect...,It depends on your background and previous exp...

### Putting it all together 

Let's create a class for us to use:

In [80]:
class TextSearch:

    def __init__(self, text_fields):
        self.text_fields = text_fields
        self.matrices = {}
        self.vectorizers = {}

    def fit(self, records, vectorizer_params={}):
        self.df = pd.DataFrame(records)

        for f in self.text_fields:
            cv = TfidfVectorizer(**vectorizer_params)
            X = cv.fit_transform(self.df[f])
            self.matrices[f] = X
            self.vectorizers[f] = cv

    def search(self, query, n_results=10, boost={}, filters={}):
        score = np.zeros(len(self.df))

        for f in self.text_fields:
            b = boost.get(f, 1.0)
            q = self.vectorizers[f].transform([query])
            s = cosine_similarity(self.matrices[f], q).flatten()
            score = score + b * s

        for field, value in filters.items():
            mask = (self.df[field] == value).values
            score = score * mask

        idx = np.argsort(-score)[:n_results]
        results = self.df.iloc[idx]
        return results.to_dict(orient='records')

In [ ]:
index = TextSearch(text_fields=['section', 'question', 'text'])
index.fit(documents)

index.search(
    query='I just singned up. Is it too late to join the course?',
    n_results=5,
    boost={'question': 3.0},
    filters={'course': 'data-engineering-zoomcamp'}
)